<html>

    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-214688752-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-214688752-1');
</script>
     <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
</head>
    <body>
        {{>header}}
<h3 class="text-center" style="margin-top: 20%;margin-left:3%"><U>ABOUT US </U></h3>
<div class="row">
  <div class="col-lg-12 col-sm-12">
    <p>
    <ul class="list-inline" style="margin-left:3%">
<li class="h4 lead text-center">
  Liftronic is the Best Platform for Renting and Selling  of Material Handling and Other
  Machineries and Equipments in UAE. 
</li>

<li class="h4 lead text-center">We Specialize in Providing Machinery on Rental as Per The Warehouse Aisle Width , Height
  and Operations, 
  So With  All These Customizations Let You Minimize  The Unwanted Effects,Costs and saves Time 
  
</li>

<li class="h4 lead text-center">Goals:
  We Are Looking Forward to Provide The Machinery at Best Rental Price as Compared to Market Price and Help Customers Rationalize Their Operations
  To Furthur Enhance Customer Specifications, 

</li>

<li class="h4 lead text-center">
  Liftronic Will Continue  Persue Possibilities 
  for Material Handling and Other Machinery Rental Solution  
</li>

</ul>
</p>
</div>

{{>footer}}
    </body>
</html>