<html>

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-214688752-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-214688752-1');
</script>
     <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
</head>
    <body>
        {{>header}}
        <div class="container-fluid" style="position: relative;text-align:center;color:black">
<img src="equipments//camera.jpeg" style="width: 100%;height:450px" alt="Forklift Rental and Sales">
<div style="position: absolute;bottom: 8px;left: 16px;">  <h1> &nbsp;&nbsp; ForkLift Wireless Camera System</h1></div>
</div>
<div class="container">
<h1  ><strong>Forklift Camera System  </strong></h1>
<p class="lead" style="font-size:x-larger">Efficiency is an important key concept
     in warehouses and distribution centers. To ensure high efficiency,
      all forklifts must provide optimum safety and the best possible performance.
       Liftronic camera monitor systems offer the ideal vision solution for all
        types of truck, helping forklift operators to achieve these goals. In addition,
         these systems increase driver comfort, as drivers no longer need to turn their
          head and neck to gain a view of loads, shelves and aisles.Its high-quality,
           professional vision solutions for every situation, with the aim of increasing
            safety, efficiency and comfort. There should always be optimum vision around
             all Reach trucks, counterbalance forklifts, side loaders and narrow-aisle trucks.  



</p>
</div>


{{>footer}}
    </body>
</html>