<html>

    <head>
     <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
</head>
    <body>
        {{>header}}
        <div class="container-fluid" style="position: relative;text-align:center;color:white">
<img src="equipments//service.jpeg" style="width: 100%;height:450px" alt="Responsive image">
<div style="position: absolute;bottom: 8px;left: 14px"> <p> <h1 style="padding:10px"> &nbsp;&nbsp;&nbsp; Forklift Service and Maintainance in Dubai </h1></p></div>
</div>
<div class="container">
<h1  ><strong>Service and Maintaince</strong></h1>
<p class="lead" style="font-size:x-larger">The liftronic Machinery forklift Service
     Department provides both scheduled and Emergency service for
     a wide variety of forklifts and other material handling equipment.
     Dispatched locally, we can provide a timely response when a repair
      or maintenance need arises, anywhere in our Dubai and Abu Dhabi 
      throughout United Arab Emirates.
Liftronic Machinery rental is also proud to provide
 customized service programs to fit all your forklift maintenance needs.
  Our fully trained technicians perform high quality preventive maintenance inspections,
   and timely resolution on all repairs. Liftronic offers onsite coverage to all 
   customers on our maintenance programs. Our mission is to provide Special 
   service to keep your material handling fleet running at optimum efficiency.



</p>

<h1  ><strong>Check hydraulic and other Oils</strong></h1>
<p class="lead" style="font-size:x-larger">

When was the last time your forklift’s oils were analyzed? Often neglected;
 it is important to check the gear oil, transmission fluid, and hydraulic oil.
  These tests will not only keep your equipment running reliably, but also help
   identify contamination or thermal break down that could lead to any wear or damage.
    This service should be conducted yearly so oil conditions can be tracked as your unit’s age.
</p>

</div>
  <div class="container-fluid border rounded" style="position: relative;text-align:center;color:white">
<img src="equipments//oils.jpeg" class="border rounded" style="width: 100%;height:450px" alt="Responsive image">
</div>
<hr>
  <div class="container-fluid border rounded" style="position: relative;text-align:center;color:white">
<img src="equipments//oils2.jpeg" class="border rounded" style="width: 100%;height:450px" alt="Responsive image">
</div>
<hr>

{{>footer}}
    </body>
</html>