<!-- Footer -->
<footer  class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Liftronic   <small class="text-muted">Rent The Right Equipment For Efficient Work</small></h5>
 
         <b><u>Address:</u> </b>
      </Br>
      Yakout Busines center,
      Near Dubai International Airport,
      Garhour,Dubai,UAE.<br>
      <b><u> Mobile No</u></b>:+971-56-583-7586 <br>
        <b><u> Tel</u></b>: +971-42-462-352<br>
          <b><u> Email</u></b>:info@liftronicme.com

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 mx-auto"></div>
<div class="col-md-2 mx-auto"></div>
      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

      <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">AboutUs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ContactUs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Rentals</a>
  </li>
  
</ul>

      </div>
      <!-- Grid column -->

    

      <!-- Grid column -->
    
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  
<hr>
 <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Call to action -->
 
  <hr>

  <!-- Social buttons -->
 
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> Liftronic</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->