<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar  fixed-top navbar-expand-lg navbar-light bg-light" style="background-color:lavenderblush;color:black">
  <a class="navbar-brand" href="index"><img src="main/LOGO.PNG" height="90px"  ></img></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" style="color:black;">
     
        <li class="nav-item dropdown ">
       <a class="nav-link dropdown-toggle font-weight-bold text-success" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <h4> Used ForkLift</h4> 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="#">Forklifts</a>  
                <a class="dropdown-item" href="#">Reach Truck</a>
                <a class="dropdown-item" href="#">Power Pallet Truck</a>
                <a class="dropdown-item" href="#">Stacker</a>
                <a class="dropdown-item" href="#">Order Picker</a>
                <a class="dropdown-item" href="#">Combilift</a>
                <a class="dropdown-item" href="#">VNA</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Forklift Attachments</a>
                
        </div>
      </li>
      <li class="nav-item">
      <h4> <a class="nav-link" href="RentalEquipments">Rental Equipments</a></h4> 
      </li>
       <li class="nav-item">
      <h4> <a class="nav-link" href="serviceandmaintainance">Service & Maintainance</a></h4> 
      </li>
      <li class="nav-item">
      <h4>  <a class="nav-link" href="ForkliftSafetyGears">Forklift Safety Gears </a> </h4>
      </li>
       <li class="nav-item">
      <h4>  <a class="nav-link" href="contactus">ContactUs</a> </h4>
      </li>
       <li class="nav-item">
      <h4>  <a class="nav-link" href="aboutus">AboutUs</a> </h4>
      </li>
    
    </ul>
    


  
     
  </div>
  
</nav>