*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.showB{
  width: 400px;
  height: 400px;
}
#show-img { width: 100%; height: 400px; }
.small-img{
  width: 300px;
  height: 70px;
  margin-top: 10px;
  position: relative;
  left: 25px;
}


.small-container{
  width: 320PX;
  height: 70px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.small-container div{
  width: 200%;
  position: relative;
}

.small-container .show-small-img{
  width: 50px;
  height: 50px;
  margin-right: 6px;
  cursor: pointer;
  float: left;
}
.small-container .show-small-img:last-of-type{
  margin-right: 0;
}
